.adresse {
  margin: 10px;
}
#inputAsress {
  width: 100%;
}

ul,
.listeInput {
  list-style: none;
  margin: 0;
  margin-left: -20px;
  text-align: start !important;
}
.btnSearch {
  padding: 2%;

  width: 100%;
}
.btnSearch:hover {
  background-color: rgb(212, 198, 198);
}
.btn-light {
  border-color: rgba(71, 31, 31, 0.678);
}
#form {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* padding-top: 30px; */
  position: absolute;
  margin-top: 9%;
  margin-left: 8px;
  z-index: 3;
}

.adresse {
  padding-top: 5%;
}

.conteneur-inputSearch {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 10px;
}
