.conteneur-filter {
  border-bottom: 1px solid hsl(220, 9%, 93%);
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  max-width: 80em;
  width: 100%;
  overflow: visible;
  position: sticky;
  top: 0;
  z-index: 2;
}
