@import url("https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold")
.titleResto {
  font-size: 1em !important;
  line-height: inherit !important;

  font-size: 26px !important;
  line-height: 30px !important;
  font-weight: 600 !important;

  justify-content: flex-start;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 2.1em;
}

.titleResto {
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 2.1em;
}
.primary-texte-specialite {
  color: inherit !important;
  font-size: 1.8em !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  margin: 0px !important;
  padding: 0px !important;
}
.secondary-texte-specialite {
  color: #222222 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.container-specialite {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.commentairesNumber {
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  line-height: 20px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  font-weight: 600 !important;
  margin-top: revert !important ;
  margin-bottom: revert !important;
}

.commentaireDecoration {
  text-decoration: underline !important;
}

.point-circle {
  color: rgb(113, 113, 113) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  margin: 8px 8px 0px !important;
}

.rating-value {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: RalewayX, arial, sans-serif;
  line-height: 1.2;
}

.css-ubtbcz {
  font-size: 0.8125rem;
  font-weight: 300;
  font-family: RalewayX, arial, sans-serif;
  font-style: normal;
  line-height: 1.3846153846153846;
}

.css-1lnlsqc {
  font-size: 1rem;
  font-weight: 300;
  font-family: RalewayX, arial, sans-serif;
  font-style: normal;
  line-height: 1.375;
}

.css-igdmea {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: text-bottom;
  margin-right: 0.25rem;
}

.sanitaire {
  position: relative;
  font-family: RalewayX;
  background: #eff7fa;
  font-size: 1rem;
  padding: 0.5rem;
  grid-area: voucher;
}

.sanitaire:before {
  position: absolute;
  left: 0;
  top: 0;

  content: "";
  width: 0.25rem;
  height: 100%;
  background-color: #006399;
}

.vnu9I {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5rem;
  text-align: start;
  padding-left: 0.9rem;
}

.avisTitle {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: RalewayX, arial, sans-serif;
  line-height: 1.1666666666666667;
  margin-bottom: 1.5rem;
  color: hsl(0, 0%, 0%);
}
.titlecomment {
  color: hsl(220, 9%, 26%);
  font-size: 1rem;
  font-weight: 400;
  font-family: RalewayX, arial, sans-serif;
  font-style: normal;
  line-height: 1.375;
}

.ouvertAujour {
  margin-left: 1rem;
  color: hsl(104, 38%, 42%);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: RalewayX, arial, sans-serif;
  font-style: normal;
  line-height: 1.3846153846153846;
  border-radius: 9999px;
  padding: 0.125rem 0.5rem;
  color: green;
  background: hsl(220, 9%, 93%);
}

.titleRestoDetail {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: RalewayX, arial, sans-serif;
  line-height: 1.1666666666666667;
}

.conteneur-resto-marketing {
  margin-bottom: 0.5rem;
  border-left: 3px solid;
  border-color: hsl(357, 77%, 45%);
  margin: 3% 0 3% 0;
}
.restaurant-page-marketing-offer {
  padding-left: 0.5rem;
  margin: 0;
  color: hsl(357, 77%, 45%);
  font-size: 1rem;
  font-weight: 400;
  font-family: RalewayX, arial, sans-serif;
  font-style: normal;
  line-height: 1.375;
  display: inline-block;
}

.jumbotron {
  background-color: var(--bs-light);
  border-radius: 0.3rem;
}

.conteneur-avis {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  padding-left: 80px !important;
}
.conteneur-cadeaux {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 67rem;
  margin: 0 auto;
  padding: 1rem;
  background: linear-gradient(
    153.43deg,
    hsl(104, 46%, 89%) 0%,
    hsl(114, 63%, 97%) 100%
  );
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2%;
}

.conteneur-cadeaux-span1 {
  margin: 0;
  color: hsl(220, 9%, 26%);
  font-size: 1rem;
  font-weight: 400;
}

.conteneur-cadeaux-span2 {
  color: hsl(220, 9%, 26%);
  font-size: 1rem;
  font-weight: 300;
}

.containerGrid {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "f ff fffff ."
    "f fff ffff .";
  padding-left: 80px;
  padding-right: 80px;
  max-height: calc(60vh - 64px);
  height: 400px;
}

.ImgPrincipal {
  grid-area: f;
  object-fit: cover;
  background-position: calc(50% - 50%);
  border-radius: 12px 0px 0px 12px;
  cursor: pointer;
}

.ImgUn {
  grid-area: ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc(50% - 50%);
  cursor: pointer;
}

.ImgDeux {
  grid-area: fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc(50% - 50%);
  cursor: pointer;
}

.ImgTrois {
  grid-area: fffff;
  border-radius: 0px 12px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc(50% - 50%);
  cursor: pointer;
}

.ImgQuatre {
  grid-area: ffff;
  border-radius: 0px 0px 12px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(50% - 50%);
  cursor: pointer;
}

.ImgPrincipal:hover {
  filter: brightness(80%);
}
.ImgUn:hover {
  filter: brightness(80%);
}
.ImgDeux:hover {
  filter: brightness(80%);
}
.ImgTrois:hover {
  filter: brightness(80%);
}
.ImgQuatre:hover {
  filter: brightness(80%);
}

.info-resto-details {
  text-align: start;
  color: rgb(113, 113, 113) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  margin-top: revert;
}

.icone-proposition-resto {
  width: 50%;
  text-align: start;
  margin-top: revert !important;
  display: flex;
  justify-content: start;
  align-items: center;
}
.icone-proposition-resto > span {
  margin-right: 4%;
}
